.container{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* #article-one{
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
} */
.header-box{
    text-align: center;
    padding:200px;
    background: url(images/donation13.jpg);
    background-repeat: no-repeat;
    color:#F0FFFF;
    background-size:cover;

}
.header-title{
    font-size: 30px;
    /* text-align: center; */
    text-transform: uppercase;
    /* margin-top: 100px; */
}
.header-text{
    /* text-align: center; */
    line-height: 1.2;
    margin-bottom: 40px;
}
#donation-btn{
    text-decoration: none;
    background-image: linear-gradient(#ffd78a,#f4762d);
    color:#000000;
    padding:10px 20px;
    border-radius: 8px;
    box-shadow: 2px 6px 20px rgb(56, 56, 56);
    
}
#article-two{
    text-align: center;
    padding:100px;
    background-color:#fff7f4;

}
h2{
    font-size: 26px;
}
.money-amount{
    display: flex;
    margin-bottom: 40px;
}
.amount{
    padding:40px;
    /* text-align: center; */
    background-color: #eef4fa;
    color:#343C45;
    margin:10px;

}
 .default{
    border:2px solid orangered;
    background-color: #f8c4c8;
 }

#quantity{
    border: none;
    padding:10px 100px;
    /* color:#fff; */
    border-bottom: 1px solid rgba(37, 37, 37, 0.63);
    margin-bottom: 20px;
}
input:focus {
    outline:none;
}
#donate{
    text-decoration: none;
    background-color: orangered;
    padding:10px 10px;
    border-radius: 5px;
    margin-top:10px;

}






.donation-plan{
    text-align: center;
    margin:80px 80px;

}

.plan{
    display: flex;

}
#plan-one{
    background-color: #fae1dd;
    margin:5px;
    padding:10px;
    box-shadow: 0px 15px 25px #d3d3d3;

}
#plan-two{
    background-color: #d8e2dc;
    margin:5px;
    padding:10px;
    box-shadow: 0px 15px 25px #d3d3d3;

}
#plan-three{
    background-color: #ffd6a5;
    margin:5px;
    padding:10px;
    box-shadow: 2px 15px 25px #d3d3d3;
}



.destibution-box{
    /* margin:40px; */
}
.destribution{
    display: flex;
    width:100%;
    margin: 60px 0px;
}

.destribuion-img{
    /* height:250px; */
    width:100%;
}
.half-width{
    width: 50%;
    margin:10px 30px;
}

.destibution-btn{
    text-decoration: none;
    color:#000000;
    background-image: linear-gradient(#ffd78a,#f4762d);
    padding:8px 12px;
    border-radius: 8px;
    box-shadow: 0px 6px 15px rgb(116, 116, 116);

}



.updates{
    text-align: center;
    margin: 80px;

}

.email-box{
    background-color: #ffe2cf;
    padding:80px;
    margin: 5px 20px;
}
#email{
    padding: 10px;
    border: none;
}
#subscriber{
    text-decoration: none;
    background-color: #f4762d;
    padding:7px;
    margin-left: -5px;
    border: none;
    color:#000000;
}

.bonus-title{
    margin:20px 80px;


}
.bounus-box{
    background-color:#ecfafa;
    padding:10px;
    padding-bottom: 40px;
}
.bonus-title{
    font-size: 48px;
    text-align: center;
    border-bottom: 2px solid rgb(0, 255, 98);
    margin-bottom: 30px;

}
.bonus-text{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
    color:#343C45;
}
.bonus-icons{
    width:200px;
    height: 100px;
}
.bonus-images{
    margin-top:40px;
    display: flex;
}


/* footer css */
footer{
    margin-top:20px;
    text-align: center;
    padding:30px;
    background-color: #000000;
}
span{
    font-size:28px;
    color:#f4762d;
    font-family:Georgia, 'Times New Roman', Times, serif;
}